In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('intent-question.xlsx')
df.head()

,intent,question
0,Digitall-Installment-Loan,What is digital installment in Wing Bank
1,Digitall-Installment-Loan,What are feature of Wing Bank’s Digital Instal...
2,Digitall-Installment-Loan,What are the fee charges associated with Wing ...
3,Digitall-Installment-Loan,How can I check my digital installment eligibi...
4,Digitall-Installment-Loan,What is the minimum purchase amount to use dig...

In [3]:
df.tail()

,intent,question
359,Mastercard-Gold-One-Card,How does the numberless design protect my Gold...
360,Mastercard-Gold-One-Card,Is the Gold One Card internationally accepted
361,Mastercard-Gold-One-Card,What makes the Gold One Card environmentally f...
362,Mastercard-Gold-One-Card,Can I get a supplementary Gold One Card for a ...
363,Mastercard-Gold-One-Card,What tools does the Wing Bank app offer for Go...

In [4]:
df.columns

Index(['intent', 'question'], dtype='object')

In [5]:
df.dtypes

intent      object
question    object
dtype: object

In [6]:
df.isna().sum()

intent      0
question    0
dtype: int64

In [7]:
missing_indices = df[df['question'].isna()].index
print(missing_indices)

Index([], dtype='int64')

In [8]:
df.loc[78]
df.loc[141] 
df.loc[162] 
df.loc[173]

intent                               Phone-Top-Up-Loan
question    Is the Phone Top-Up Loan available anytime
Name: 173, dtype: object

### Text Cleaning

- Lowecasing the data
- Removing Puncuatations
- Removing Numbers
- Removing extra space
- Replacing the repetitions of punctations
- Removing Emojis
- Removing emoticons
- Removing Contractions

In [9]:
import pandas as pd

In [10]:
# Convert to Lowercase
df['question'] = df['question'].str.lower()

In [11]:
#Removing Puncuations from Question
import string
punc_remove = str.maketrans('', '', string.punctuation)
df['question'] = df['question'].apply(lambda x: x.translate(punc_remove) if isinstance (x, str) else x)

In [12]:
#Remove Contraction from Question Columns
import contractions
df['question'] = df['question'].apply(lambda x: contractions.fix(x) if isinstance(x, str) else x)

In [13]:
df.to_excel('intent-question-cleanned.xlsx', index=False)

In [14]:
df.head()

,intent,question
0,Digitall-Installment-Loan,what is digital installment in wing bank
1,Digitall-Installment-Loan,what are feature of wing bank’s digital instal...
2,Digitall-Installment-Loan,what are the fee charges associated with wing ...
3,Digitall-Installment-Loan,how can i check my digital installment eligibi...
4,Digitall-Installment-Loan,what is the minimum purchase amount to use dig...